extends layout

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/app.js")

block content
    .row
        .col-xs-12
            .row
                .col-xs-4
                    | User 1
                .col-xs-8
                    | Lorem ipsum
    .row
        .col-xs-12
            textarea#message(placeholder="Write message and press Enter to send...")