extends layout

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/app.js")

block content
    div(ng-controller='ChatController as chat')
        .row
            .col-xs-12(ng-repeat='message in chat.messages')
                .row
                    .col-xs-4 {{message.user}}
                    .col-xs-8 {{message.text}}
        .row
            .col-xs-12
                textarea(ng-model='chat.message', pardon-enter='send()', placeholder="Write message and press Ctrl+Enter to send...")