extends layout

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/app.js")

block content
    div(ng-controller='ChatController as chat')
        .container-fluid(ng-repeat='message in chat.messages')
            div
                span: small {{message.user}} @ {{message.date | date: 'HH:mm:ss'}}
                br
                span {{message.message}}
                hr

        .footer.navbar-default.navbar-fixed-bottom
            .container-fluid
                .row
                    .col-xs-9.col-sm-10.col-md-11
                        textarea(elastic, ng-model='chat.message', pardon-enter='send()', placeholder="Press Ctrl+Enter to send...")
                    .col-xs-3.col-sm-2.col-md-1
                        .text-center
                            button.btn.btn-default(ng-click='send()') Send