extends layout

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/app.js")

block content
    div(ng-controller='ChatController as chat')
        .container-fluid
            .row
                .col-xs-8
                    .row(ng-repeat='message in chat.messages')
                        .col-xs-12
                            span: small {{message.user}} @ {{message.date | date: 'HH:mm:ss'}}
                            br
                            span {{message.message}}
                            hr
                .col-xs-4
                    .row
                        .col-xs-12(style='position: fixed;')
                            .panel.panel-default(ng-show='chat.onlineUsers.length > 0')
                                .panel-heading
                                    span Online Users
                                ul.list-group(ng-repeat='user in chat.onlineUsers')
                                    li.list-group-item {{user}}

        .footer.navbar-default.navbar-fixed-bottom
            .container-fluid
                .row
                    .col-xs-9.col-sm-10.col-md-11
                        textarea(elastic, ng-model='chat.message', pardon-enter='send()', placeholder="Press Ctrl+Enter to send...")
                    .col-xs-3.col-sm-2.col-md-1
                        .text-center
                            button.btn.btn-default(ng-click='send()') Send